html, body {
  background-color: #F4F6FA !important;
}

.layout {
  padding: 40px 140px;
}

.btn-action-group {
  display: flex !important;
}

.btn {
  padding: 9px 14px 9px 14px;
  margin-left: 10px;
  border: none;
  color: #fff;
}

.btn-red {
  background-color: #ff5252;
}

.btn-red:hover {
  background-color: #ff2c2c;
}

.btn-red:active {
  background-color: #ff2c2c;
}

.btn-yellow {
  background-color: #ffc048;
}

.btn-yellow:hover {
  background-color: #d8a13a;
}

.btn-yellow:active {
  background-color: #c79434;
}

.btn-green {
  background-color: #00b894;
}

.btn-green:hover {
  background-color: #029b7c;
}

.btn-green:active {
  background-color: #037861;
}

.loading {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .layout {
    padding: 40px 70px;
  }
}

@media only screen and (max-width: 425px) {
  .layout {
    padding: 40px 20px;
  }
}

@media only screen and (max-width: 375px) {
  .layout {
    padding: 40px 5px;
  }
}