.container {
  padding-top: 100px;
}

.formContainer {
  margin: auto;
  padding: 70px 50px;
  width: 400px;
  height: 400px;
  background-color: #031926;
}

.titleForm {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.label {
  color: #fff;
  font-size: 18px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}